
backend/database/spotify_million_playlist_dataset

# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtualenv
venv/
.env/

# Flask Migrations
migrations/

# Database
*.db
*.sqlite3

# Log files
*.log

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# Test coverage
.coverage
*.coveragerc

